<div style="background-color:#222; max-width:600px; display:flex; color: #7159c1;  justify-content: center; flex-direction: column; padding: 5%; text-align: center; font-family: sans-serif;">
  {{>header}}
  {{{body}}}
  {{>footer}}
</div>
