<strong>Olá, {{ deliveryman }}</strong>
<h2>Uma entrega foi cancelada.</h2><br /><br />
<p>Confira os detalhes abaixo:</p><br />
<p>
  <strong>Produto: {{ product }}</strong><br />
  <strong>Destinatário: {{ recipient }}</strong><br />
  <strong>Problema: {{ problem }}</strong><br />
  <br />
</p>
